@charset "IBM866";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

.wrap { margin: 140px auto 50px; width: 908px; *zoom: 1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 2000px; }
.wrap:after { content: " "; display: table; clear: both; }

.wrap, textarea, input { font-family: "PTSans", sans-serif; font-size: 11px; line-height: 11px; color: #585858; }

.block { position: relative; padding: 26px 0px 0px 17px; border: 1px solid #e0e0e0; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; *zoom: 1; background-color: white; margin-bottom: 25px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(50%, #ffffff), color-stop(100%, #ededed)); background-image: -webkit-linear-gradient(top, #ededed 0%, #ffffff 50%, #ededed 100%); background-image: -moz-linear-gradient(top, #ededed 0%, #ffffff 50%, #ededed 100%); background-image: -o-linear-gradient(top, #ededed 0%, #ffffff 50%, #ededed 100%); background-image: linear-gradient(top, #ededed 0%, #ffffff 50%, #ededed 100%); }
.block:after { content: " "; display: table; clear: both; }

.block-big { min-height: 472px; }

.block-wrap { position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; *zoom: 1; height: 200px; }
.block-wrap:after { content: " "; display: table; clear: both; }

.block-main:before { content: ""; position: relative; min-width: 157px; display: inline-block; text-align: center; -webkit-border-radius: 9px; -moz-border-radius: 9px; -ms-border-radius: 9px; -o-border-radius: 9px; border-radius: 9px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: white; font-family: "PTSans", sans-serif; font-size: 11px; line-height: 11px; height: 18px; text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.5); }

.block-main-descr:before { background: #e57a02; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #faa604), color-stop(100%, #cf4e00)); background-image: -webkit-linear-gradient(#faa604, #cf4e00); background-image: -moz-linear-gradient(#faa604, #cf4e00); background-image: -o-linear-gradient(#faa604, #cf4e00); background-image: linear-gradient(#faa604, #cf4e00); top: -36px; left: -421px; padding-top: 4px; content: "Описание"; }

.column-normal { float: left; width: 420px; *zoom: 1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.column-normal:after { content: " "; display: table; clear: both; }

.column-bigger { width: 499px; float: left; height: 100%; }
.column-bigger:before { background: #6eb203; top: -34px; left: 0px; padding-top: 4px; content: "Ингредиенты"; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #abdc04), color-stop(100%, #318901)); background-image: -webkit-linear-gradient(#abdc04, #318901); background-image: -moz-linear-gradient(#abdc04, #318901); background-image: -o-linear-gradient(#abdc04, #318901); background-image: linear-gradient(#abdc04, #318901); }

.column-smaller { width: 383px; float: right; height: 100%; }
.column-smaller:before { background: #6eb203; top: -34px; left: 0px; padding-top: 4px; content: "Параметры"; background: #2395cb; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #45baf8), color-stop(100%, #006f9d)); background-image: -webkit-linear-gradient(#45baf8, #006f9d); background-image: -moz-linear-gradient(#45baf8, #006f9d); background-image: -o-linear-gradient(#45baf8, #006f9d); background-image: linear-gradient(#45baf8, #006f9d); }

.row { margin-bottom: 17px; }

.row__descr { display: block; padding: 0 0 4px 2px; }

.row__main { display: inline-block; }

.row__input, .row__textarea { border: 1px solid #e5e5e5; -webkit-box-shadow: inset 0px 1px 3px 0px #a7a7a7; -moz-box-shadow: inset 0px 1px 3px 0px #a7a7a7; box-shadow: inset 0px 1px 3px 0px #a7a7a7; padding: 3px; }

.row__input-big { width: 313px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.row__textarea { resize: vertical; width: 100%; height: 130px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.logo-text { margin-left: 127px; }

.logo-drink { margin-top: 41px; margin-left: 97px; }

/*-----ing--------------------------------- */
.row__main-name { width: 154px; margin-right: 10px; }

.row__main-number { width: 41px; margin-right: 10px; }

.row__main-unit { width: 155px; margin-right: 18px; }
